In [1]:
import pandas as pd
task2 = pd.read_csv("y_task2.csv")

In [2]:
task2

       LABEL_Sepsis
0          0.010459
1          0.001538
2          0.001333
3          0.003667
4          0.002429
...             ...
12659      0.001424
12660      0.001997
12661      0.004092
12662      0.002792
12663      0.001738

[12664 rows x 1 columns]

In [5]:
task3 = pd.read_csv("y_task3.csv")

In [6]:
task3

       LABEL_RRate  LABEL_ABPm  LABEL_SpO2  LABEL_Heartrate
0        16.587936   84.061050   98.831290        86.616088
1        17.852835   86.517402   97.432785        90.200357
2        18.953483   73.590349   95.557363        69.400579
3        16.522814   89.934676   98.113115        91.377605
4        18.643589   90.765926   96.649855        89.913472
...            ...         ...         ...              ...
12659    17.312794   73.648424   96.983956        70.015875
12660    16.381503   82.533943   96.761890        91.403075
12661    18.379722   72.551383   97.942238        92.024140
12662    18.291592   90.234583   97.312935       109.956853
12663    16.716696   83.066163   98.661628       102.962495

[12664 rows x 4 columns]

In [9]:
task2_3 = pd.concat([task2, task3], axis=1)
pids = pd.read_csv("pids.csv")

In [10]:
task2_3

       LABEL_Sepsis  LABEL_RRate  LABEL_ABPm  LABEL_SpO2  LABEL_Heartrate
0          0.010459    16.587936   84.061050   98.831290        86.616088
1          0.001538    17.852835   86.517402   97.432785        90.200357
2          0.001333    18.953483   73.590349   95.557363        69.400579
3          0.003667    16.522814   89.934676   98.113115        91.377605
4          0.002429    18.643589   90.765926   96.649855        89.913472
...             ...          ...         ...         ...              ...
12659      0.001424    17.312794   73.648424   96.983956        70.015875
12660      0.001997    16.381503   82.533943   96.761890        91.403075
12661      0.004092    18.379722   72.551383   97.942238        92.024140
12662      0.002792    18.291592   90.234583   97.312935       109.956853
12663      0.001738    16.716696   83.066163   98.661628       102.962495

[12664 rows x 5 columns]

In [11]:
pids

         pid
0          0
1          3
2          5
3          7
4          9
...      ...
12659  31647
12660  31649
12661  31651
12662  31652
12663  31655

[12664 rows x 1 columns]

In [13]:
task2_3_pids = pd.concat([pids, task2_3], axis=1)

In [14]:
task2_3_pids

,pid,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
0,0,0.010459,16.587936,84.061050,98.831290,86.616088
1,3,0.001538,17.852835,86.517402,97.432785,90.200357
2,5,0.001333,18.953483,73.590349,95.557363,69.400579
3,7,0.003667,16.522814,89.934676,98.113115,91.377605
4,9,0.002429,18.643589,90.765926,96.649855,89.913472
...,...,...,...,...,...,...
12659,31647,0.001424,17.312794,73.648424,96.983956,70.015875
12660,31649,0.001997,16.381503,82.533943,96.761890,91.403075
12661,31651,0.004092,18.379722,72.551383,97.942238,92.024140
12662,31652,0.002792,18.291592,90.234583,97.312935,109.956853
12663,31655,0.001738,16.716696,83.066163,98.661628,102.962495

In [19]:
task1 = pd.read_csv("y_task1.csv")
task1

,pid,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2
0,0,0.724,0.903,0.479,0.928,0.935,0.361,0.046,0.245,0.040,0.033
1,10001,0.141,0.574,0.125,0.466,0.131,0.232,0.044,0.164,0.027,0.028
2,10003,0.073,0.384,0.174,0.605,0.162,0.813,0.151,0.637,0.016,0.063
3,10004,0.130,0.415,0.272,0.776,0.640,0.389,0.056,0.194,0.019,0.018
4,10005,0.138,0.279,0.112,0.478,0.106,0.481,0.013,0.092,0.014,0.058
...,...,...,...,...,...,...,...,...,...,...,...
12659,9989,0.071,0.415,0.142,0.420,0.160,0.446,0.067,0.083,0.124,0.020
12660,9991,0.707,0.540,0.136,0.506,0.139,0.221,0.046,0.096,0.053,0.025
12661,9992,0.344,0.477,0.127,0.488,0.123,0.492,0.008,0.483,0.397,0.015
12662,9994,0.867,0.929,0.959,0.814,0.492,0.940,0.033,0.726,0.484,0.031
12663,9997,0.839,0.574,0.125,0.466,0.130,0.232,0.044,0.088,0.027,0.028

In [25]:
fin = pd.merge(task1, task2_3_pids, on="pid")

In [26]:
fin

,pid,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
0,0,0.724,0.903,0.479,0.928,0.935,0.361,0.046,0.245,0.040,0.033,0.010459,16.587936,84.061050,98.831290,86.616088
1,10001,0.141,0.574,0.125,0.466,0.131,0.232,0.044,0.164,0.027,0.028,0.002268,18.152602,88.083877,94.477135,95.949015
2,10003,0.073,0.384,0.174,0.605,0.162,0.813,0.151,0.637,0.016,0.063,0.002307,17.614416,81.265721,98.109060,88.666974
3,10004,0.130,0.415,0.272,0.776,0.640,0.389,0.056,0.194,0.019,0.018,0.001235,17.453694,74.190850,95.293209,90.120920
4,10005,0.138,0.279,0.112,0.478,0.106,0.481,0.013,0.092,0.014,0.058,0.001801,18.720599,74.668171,96.472696,60.432863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12659,9989,0.071,0.415,0.142,0.420,0.160,0.446,0.067,0.083,0.124,0.020,0.006126,20.519192,75.633058,95.526391,103.017983
12660,9991,0.707,0.540,0.136,0.506,0.139,0.221,0.046,0.096,0.053,0.025,0.003070,17.994260,91.830855,98.911494,76.264207
12661,9992,0.344,0.477,0.127,0.488,0.123,0.492,0.008,0.483,0.397,0.015,0.002791,18.166882,68.380236,97.605889,83.879129
12662,9994,0.867,0.929,0.959,0.814,0.492,0.940,0.033,0.726,0.484,0.031,0.020390,15.694358,82.317628,97.235917,95.151065
12663,9997,0.839,0.574,0.125,0.466,0.130,0.232,0.044,0.088,0.027,0.028,0.007255,17.609420,77.701556,98.393344,87.645910

In [27]:
task2_3_pids[task2_3_pids['pid'] == 10001]

,pid,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
3968,10001,0.002268,18.152602,88.083877,94.477135,95.949015

In [28]:
compression_opts = dict(method='zip', archive_name='prediction.csv') # finally saving and compressing the predicted results
fin.to_csv('prediction.zip', index=False, float_format='%.3f',compression=compression_opts)